body {
  background: #FBFBFB;
}

p {
  font-family: sans-serif;
}

.App_container {
  width: 990px;
  margin: auto;
}

.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 6px;
}
